[submodule "submodule/hello-world"]
	path = submodule/hello-world
	url = https://github.com/rdpink/hello-world.git
[submodule "test-repo"]
	path = test-repo
	url = https://github.com/rdpink/test-repo.git
[submodule "test-repo2"]
	path = test-repo2
	url = https://github.com/rdpink/test-repo2.git
[submodule "test-repo3"]
	path = test-repo3
	url = https://github.com/rdpink/test-repo3.git
[submodule "submod\\test-repo4"]
	path = submod\\test-repo4
	url = https://github.com/rdpink/test-repo4.git
